version: 2
jobs:

  build:
    docker:
      - image: alpine:latest
    steps:
      - checkout
      - run:
          name: Build source files into HTML, CSS, and JS
          command: deploy-scripts/build-website.sh
      - persist_to_workspace:
          root: .
          paths:
            - $STATIC_DIR

  configure-webserver-ssl:
    docker:
      - image: alpine:latest
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
              - "$EXTERNAL_GITHOST_SSH_FINGERPRINT"
      - run:
          name: Download external libraries
          command: deploy-scripts/external-libs.sh true
      - run:
          name: Create SSL files and configure web server
          command: deploy-scripts/configure-webserver.sh
      - persist_to_workspace:
          root: .
          paths:
            - config

  containerise:
    docker:
      - image: google/cloud-sdk:latest
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
              - "$EXTERNAL_GITHOST_SSH_FINGERPRINT"
      - setup_remote_docker
      - attach_workspace:
          at: .
      - run:
          name: Download external libraries
          command: deploy-scripts/external-libs.sh false
      - run:
          name: Build Docker image and push to container registry
          command: deploy-scripts/containerise.sh

  deploy-production:
    docker:
      - image: google/cloud-sdk:latest
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
              - "$EXTERNAL_GITHOST_SSH_FINGERPRINT"
      - run:
          name: Download external libraries
          command: deploy-scripts/external-libs.sh false
      - run:
          name: Create or update GCP instance
          command: deploy-scripts/create-update-instance.sh

workflows:
  version: 2
  build-configure-webserver-ssl-containerise-deploy-production:
    jobs:
      - build:
      - configure-webserver-ssl:
          requires:
            - build
      - containerise:
          requires:
            - configure-webserver-ssl
          filters:
            branches:
              only: master
      - deploy-production:
          requires:
            - containerise
          filters:
            branches:
              only: master
